*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color:#f8a892;
    font-family:cursive;
    font-size: 2rem;
    color:rgb(54, 52, 52);
    text-transform: capitalize;
}